 body {
   background: #ccc;
   font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
   .main-wrapper {
     display: flex;
     flex-direction: column;
   }
 }